li.favorite-movie {
  display: flex;
  align-items: center;
}

.favorite-movie img {
  width: 4rem;
}

.favorite-movie .favorite-movie-title {
  flex: 1;
  align-self: flex-start;
  margin-left: 0.7rem;
}

.favorite-movie .favorite-movie-title h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
